# Composer
/vendor/
/composer.lock

# PHPUnit
/phpunit.xml
/phpunit.xml.dist

# Laravel
/.env
/.env.backup
/.env.local
/.env.development
/.env.testing
/.env.production
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php

# Symfony
/.env.local.php
/.env.*.local
/.env.local
/var/
/vendor/

# CakePHP
/tmp/
/logs/
/config/app.php

# CodeIgniter
/application/config/config.php
/application/config/database.php
/application/logs/
/application/cache/

# Yii
/runtime/
/vendor/

# Zend Framework
/config/autoload/local.php
/config/autoload/*.local.php
/data/cache/
/data/logs/

# その他
*.log
*.cache
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db
*.~

# project
/htdocs/

# Python関連の.gitignore設定

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  通常はこれらのファイルはバージョン管理しません
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json